{% extends 'main/base.html' %}
{% load static %}

{% block title %}Фурнитура{% endblock %}

{% block content %}

<!-- nav block / блок навигации -->
<nav aria-label="breadcrumb" class="bg-light mb-5 card-how-low rounded">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Фурнитура</li>
    </ol>
</nav>

<h3 class="lead text-center pb-5" style="font-size: 2em;">Фурнитура</h3>

{% include "main/nav_pills.html"%}
{% include "main/furnite_list.html"%}
{% include "main/pagination.html"%}
{% endblock content %}