{% extends 'main/base.html' %}
{% load static %}

{% block content %}

    <h3>Все товары:</h3>
    <hr class="my-3">
    <div class="row row-cols-2 row-cols-lg-4 g-4">
    {% for i in all_items_page %}
        <div class="col my-3 " style="">
            <div class="card card-how h-100">
                <a href="{% url 'sizes' %}" data-bs-toggle="modal" style="color: black">
                <h5 class="card-header text-center">{{ i.title }}</h5>
                <div class="card-body text-center   ">
                    <img src="{{ i.image.url }}" class="card-img-top pl-sm-4 pr-sm-4" >
                    <h6 class="card-subtitle text-muted my-1">{{ i.text }}</h6>
                    <hr>
                    <h5 class="card-title pt-0 text-right">{{ i.price }} RUB</h5>
                </div>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}