<!doctype html>
<html lang="ru">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Jancy plugin -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/css/jasny-bootstrap.min.css">

    <title>PRO.ДВЕРИ</title>
  </head>
  <body>

  <nav id="myNavmenu" class="pd-5 navmenu navmenu-default offcanvas-md navmenu-fixed-left navslide" role="navigation">
    <div class="container text-center">
      <a href="{% url 'home' %}" class=""><img src="{% static 'main/img/logo.png' %}" class="mt-4 sidelogo" style="height: 6em;" alt=""></a>
    </div>
    <ul class="nav navmenu-nav flex-column mt-3">
      
      <!--
      <li class="nav-item lead d-sm-block d-md-none pl-1 navit"><a class="nav-link" href="{% url 'home' %}"><b>Главная</b></a></li>
      <li class="nav-item lead d-sm-block d-md-none pl-1 navit"><a class="nav-link" href="{% url 'home' %}"><b>Новости</b></a></li>
      <li class="nav-item lead d-sm-block d-md-none pl-1 navit"><a class="nav-link" href="{% url 'sizes' %}"><b>Снять замеры</b></a></li>
      -->

      <div class="container mt-4 text-left d-sm-block d-md-none">
        <div class="btn-group-vertical w-100 rounded socialcard py-1 bg-light" role="group" aria-label="Basic example">
  
          <button type="button" class="btn btn-light text-left">
            <a class="nav-link lead text-dark pl-2" href="{% url 'home' %}" style="font-size: 18px;"><b>Главная</b></a>
          </button>
          <button type="button" class="btn btn-light text-left">
            <a class="nav-link lead text-dark pl-2" href="{% url 'home' %}" style="font-size: 18px;"><b>Новости</b></a>
          </button>
          <button type="button" class="btn btn-light text-left">
            <a class="nav-link lead text-dark pl-2" href="{% url 'sizes' %}" style="font-size: 18px;"><b>Снять замеры</b></a>
          </button>
         
        </div>
      </div> 

      <div class="container text-center mt-4">
        <div class="btn-group w-100 socialcard rounded btn-group-lg" role="group" aria-label="Basic example">
          <button type="button" class="btn pb-3 btn-light">
            <i class="bi bi-instagram" style="font-size: 26px;"></i>
          </button>
          <button type="button" class="btn pb-3 btn-light">
            <i class="bi bi-envelope" style="font-size: 28px;"></i>
          </button>
          <button type="button" class="btn pb-3 btn-light">
            <i class="bi bi-share" style="font-size: 26px;"></i>
          </button>
        </div>
      </div>

      <div class="container mt-4 text-left ">
        <div class="btn-group-vertical w-100 rounded socialcard py-1 bg-light" role="group" aria-label="Basic example">
        {% for el in catigories_navbar %}
          <button type="button" class="btn btn-light text-left">
            <a class="nav-link lead text-dark pl-2" href="{{ el.get_absolute_url }}" style="font-size: 18px;"><b>{{ el.title }}</b></a>
          </button>
          {% block sub_catigories %}{%endblock%}
        {% endfor %}
        <button type="button" class="btn btn-light text-left">
          <a class="nav-link lead text-dark pl-2" href="{% url 'all_furnite' %}" style="font-size: 18px"><b>Фурнитура</b></a>
        </button>
        {% for fu in furnite_navbar %}
        <button type="button" class="btn btn-light text-left">
          <a class="nav-link lead text-dark pl-2" href="{{ fu.get_absolute_url }}" style="font-size: 18px;"><i class="bi bi-filter-right" style="font-size: 22px;"></i><b>{{ fu.title }}</b></a>
        </button>
        {% endfor %}  
        </div>
      </div>  
          
          
      </li>

    </ul>
    
  </nav>

  <header class="navbar navbar-light bg-light shadow-lg fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
      <span class="navbar-toggler-icon">
    </button>
 
    <div class="navbar-expand" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item  d-none d-md-block">
          <a class="nav-link pt-3 navit-down" aria-current="page" href="{% url 'home' %}">Главная</a>
        </li>
        <li class="nav-item  d-none d-md-block pl-1">
          <a class="nav-link pt-3 navit-down" aria-current="page" href="{% url 'news' %}">Новости</a>
        </li>
        <li class="nav-item  d-none d-md-block pl-1">
          <a class="nav-link pt-3 navit-down" href="{% url 'sizes' %}">Снять замеры</a>
        </li>

        <li class="nav-item">
          <a class="nav-link pt-0 ml-5" href="#"><i class="bi bi-cart4" style="font-size: 31px;"></i></a>
        </li>
        <li class="nav-item d-xs-block d-md-none">
          <a class="nav-link pt-1 ml-1" href="#"><i class="bi bi-telephone" style="font-size: 31px; color: #008000"></i></a>
        </li>       
      </ul>
    </div>
  </header>


  <div class="container" id="wrapper" style="">
    {% block content %}{% endblock %}
  </div>


  <style>
    .navmenu {width: 260px;}

    /* md и выше */
    @media screen and (min-width: 1200px){      #wrapper {padding-left: 250px; padding-top: 6em}   }

    /* md и ниже */
    @media screen and (max-width: 1199px){      #wrapper {padding-top: 7em;}    }

    /* Приветственная надпись на разных устройствах */
    @media screen and (max-width: 991px) {      #hello-md {display: none;}    }
    @media screen and (min-width: 992px) {      #hello-sm {display: none;}    }


    .card__img {
    position: relative;
    width: 100%;
    max-height: 200px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .card__img-wrapper {
    max-width: 100%;
    height: 12em;
    position: relative;
    }

    .card {
      margin-right: 0px;
    }



  </style>
  

  <!-- Option 2: Separate Popper and Bootstrap JS -->   
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <!--
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  --> 
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>


  <!-- Jancy plugin -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/js/jasny-bootstrap.min.js"></script>

  </body>

</html>