{% extends 'main/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}{{ incollections.title }}{% endblock %}

{% block content %}

<nav aria-label="breadcrumb" class="bg-light mb-5 card-how-low rounded">
    <!-- Навигационная панель -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ incollections.title }}</li>
    </ol>
</nav>

<h1 class="lead text-center pb-5" style="font-size: 2em;">{{ incollections.title }}</h1>

{% include "main/door_list.html"%}
{% include "main/pagination.html"%}
{% endblock content %}