{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<nav aria-label="breadcrumb" class="bg-light mb-5 card-how-low  rounded">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{{ furnite.category }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'all_furnite' %}">{{ furnite.category }}</a></li>
      <li class="breadcrumb-item"><a href="{{ furnite.Furnite_category.get_absolut_url }}">{{ furnite.category }}</a></li>
      <li class="breadcrumb-item"><a href="{{furnite.Furnite_sub_category.get_absolute_url}}">{{ furnite.sub_category }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ furnite.title }}</li>
    </ol>
</nav>

<hr class="py-sm-2">


<div class="card mb-3 bg-light card-how mb-4" style="">
    <div class="row g-0">
      <div class="col-md-4 text-center py-4">
        <img src="{{ furnite.image.url }}" alt="..." style="width: 200px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title display-4">{{ furnite.title }}</h5>
          <div class="pt-sm-5 mt-sm-5" >
            <button type="button" class="btn btn-lg btn-outline-primary mt-sm-5 mb-3  w-100">
              <h4 class="lead" style="font-size: 1.5em;">Стоимость</h4>
              <h4 class="lead" style="font-size: 1.4em;">{{ furnite.price }} ₽</h4>
            </button>
            <br>
            <button type="button" class="btn btn-warning btn-lg mt-2 w-100">
              <h4 class="lead" style="font-size: 1.5em;"><b>Добавить в корзину</b></h4>
            </button>
          </div>
          
        </div>       
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">{{ furnite.dist|linebreaks }}</p>
    </div>
    <div class="card-footer text-right">
        <h5 class="card-text"> Стоимость: {{ furnite.price }} RUB </h5>
    </div>
</div>


<hr>
<h3 class="py-3 lead text-center" style="font-size: 2em;"><b>Категория "{{ furnite.sub_category }}"</b></h3>
<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
  {% for i in furnite_post %}
    {% if i.sub_category == furnite.sub_category %}

      <div class="col my-3 ">
          <div class="card card-how h-100">
              <a class="text-decoration-none" href="{{ i.get_absolute_url }}" data-bs-toggle="modal" style="color: black">
              <h5 class="card-header text-center lead"><b>{{ i.title }}</b></h5>
              <div class="card-body text-center ">
                  <img src="{{ i.image.url }}" class="card-img-top  pl-sm-5 pr-sm-5 pl-md-3 pr-md-3">
                  <h6 class="card-subtitle text-muted my-1">{{ i.text }}</h6>
                  <hr>
                  <h5 class="card-title pt-0 text-right lead">{{ i.price }} RUB</h5>
              </div>
              </a>
          </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
    



{% endblock content %}