{% extends 'main/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}{{ subcategory.title }}{% endblock %}

{% block content %}

<nav aria-label="breadcrumb" class="bg-light mb-5 card-how-low rounded">
    <!-- Навигационная панель -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'all_furnite' %}">Фурнитура</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{{ subcategory.category.get_absolute_url }}">{{ subcategory.category.title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ subcategory.title }}</li>
    </ol>
</nav>

<h5 class="lead text-center pb-5" style="font-size: 2em;">{{ subcategory.title }}</h5>

{% include "main/furnite_list.html"%}
{% include "main/pagination.html"%}
{% endblock content %}