{% extends 'main/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}{{ subcategory.title }}{% endblock %}

{% block sub_catigories %}
{% for es in sub_category_navbar %}
    {% if el.id == subcategory.category_id %}
    <button type="button" class="btn btn-light text-left">
        <a class="nav-link lead text-dark" href="{{ es.get_absolute_url }}" style="font-size: 18px;"><i class="bi bi-filter-right" style="font-size: 22px;"></i><b>{{ es.title }}</b></a>
    </button>
    {% endif %}
{% endfor %}
{% endblock %}

{% block content %}

<!-- nav block / блок навигации -->
<nav aria-label="breadcrumb" class="bg-light mb-5 card-how-low rounded">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{ subcategory.category.get_absolute_url }}">{{ subcategory.category.title }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ subcategory.title }}</li>
</ol>
</nav>


<h5 class="lead text-center pb-5" style="font-size: 2em;">{{ subcategory.title }}</h5>

{% include "main/nav_pills.html"%}

{% include "main/door_list.html"%}
{% include "main/pagination.html"%}
{% endblock content %}