{% extends 'main/base.html' %}
{% load static %}

{% block sub_catigories %}

    {% for es in sub_category_navbar %}
        {% if el.id == es.category_id %}
            {% if el.id == subcategory.category_id %}
            <li class="nav-item pl-3 lead"><a class="nav-link " href="{{ es.get_absolute_url }}">{{es.name}}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}

{% endblock %}

{% block content %}
    <h5 class="lead text-center pb-5" style="font-size: 2em;">{{ subcategory.name }}</h5>
    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 pb-4">
        {% for i in subcategory_catalog %}
        {% if subcategory.id == i.sub_category_id %}
            <div class="col my-3 ">
                <div class="card card-how h-100">
                    <a href="{{ i.get_absolute_url }}" data-bs-toggle="modal" style="color: black">
                    <h5 class="card-header text-center lead"><b>{{ i.title }}</b></h5>
                    <div class="card-body text-center ">
                        <div class="card__img">
                            <img src="{{ i.image.url }}" class=" card__img-wrapper">
                            {% if i.second_image %}
                            <img src="{{ i.second_image.url }}" class=" card__img-wrapper">
                            {% endif %}
                        </div>
                        <h6 class="card-subtitle text-muted my-1">{{ i.text }}</h6>
                        <hr>
                        <h5 class="card-title pt-0 text-right lead">{{ i.price }} ₽</h5>
                    </div>
                    </a>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock content %}